<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Meta Info -->
  <meta name="owner" content="Rufus Ingram">
  <meta name="name" content="The Ingram Family Foundation">
  <meta name="description" content="Ingram Family Foundation is a non-profit organization with a mission to promote thoughtful analysis, discussions and actions that will help to create a prosperous and equitable future for Black communities.">
  <meta name="developer" content="SVNCRWNS">
  <meta name="keywords" content="baltimore sponsorship, baltimore nonprofit, sponsorship, youth organizations, black community, black sustainability">

  <!-- OG Tags -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="The Ingram Family Foundation">
  <meta property="og:description" content="Ingram Family Foundation is a non-profit organization with a mission to promote thoughtful analysis, discussions and actions that will help to create a prosperous and equitable future for Black communities.">
  <meta property="og:url" content="http://www.theingramfamilyfoundation.org">
  <meta property="og:image" content="/img/hero_whoweare.jpg">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="The Ingram Family Foundation">
  <meta name="twitter:description" content="Ingram Family Foundation is a non-profit organization with a mission to promote thoughtful analysis, discussions and actions that will help to create a prosperous and equitable future for Black communities.">
  <meta name="twitter:image" content="/img/hero_whoweare.jpg">
  <meta name="twitter:url" content="http://www.theingramfamilyfoundation.org">
  <link rel="shortcut icon" href="/favicon.ico" />

  <title>The Ingram Family Foundation - {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- FROW Grid -->
  <link rel="stylesheet" href="{{ "/css/vendor/frow.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/vendor/hamburgers.css" | prepend: site.baseurl }}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700" rel="stylesheet">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
