<div id="menu-container">
  <!-- <button id="overlay-menu" type="button" class="menuButton">
    <a class="menu_btn" href="#"><span class="menu_btn_btn">&equiv;</span><br/><span class="menu_btn_text">menu</span></a>
  </button> -->
  <button class="hamburger hamburger--squeeze" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>
<div class="overlay overlay-data" id="js-overlay">
  <div class="overlay_logo">
    {% include logo.html %}
  </div>
  <!-- <button type="button" class="overlay-close"><img src="/img/close-icon-red.png"/></button> -->
  

  <div class="overlay_container clear">
    <div class="frow centered">
      <div class="menu_list_container">
        <nav>
          <ul>
            {% for item in site.data.header-menu %}
            <li><a href="{{ item.url }}">{{ item.menu-title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div><!-- .frow -->

    <div class="frow">
      <div class="bottom_menu_content">
        <div class="menu_quote">“Deep Roots, Strong Branches, Solid Fruits”
        <div class="menu_quote_author">- The Ingram Family Foundation</div>
        </div>
        <div class="menu_logo"><img src="/img/tree_logo.png" width="30" /></div>
      </div>
    </div><!-- .frow -->

  </div><!-- .overlay_container -->  
</div><!-- .overlay -->
