<div class="pop-up-wrapper">
	<div class="mask active" role="dialog"></div>
	<div class="modal" role="alert">
		  <button class="popup-close" role="button">X</button>
		  <div class="popup-bg" style="background-image:url('/img/hero_getinvolved002.jpg');"></div>
		  <div class="popup-msg">Have you considered donating to <a href="/who-we-are">IFF's mission</a>.  We're working to make communities more sustainable.</div>
		  <a class="popup-cta" href="{{ site.donate_link }}" target="_blank"><div>contribute</div></a>
	</div>
</div>