---
layout: default
title: Home
id: "index"
masthead_bg: "/img/hero_home.jpg"
masthead_quote: "Follow someone's agenda; it can be your fate.  Create your agenda; it will be your journey."
section-title: "Learn"

popup_bg: "/img/hero_getinvolved002.jpg"
popup_msg_1: "Have you considered donating to "
popup_link: "/who-we-are"
popup_link_text: "IFF's mission."
popup_msg_2: ".  We're working to make communities more sustainable."

donate_link_text: "contribute"
---

<div class="section_title">{{ page.section-title }}</div>
<div class="frow wrapper">
	{% include home_navigation.html %}
</div>
{% include newsletter.html %}

{% include popup.html %}