---
layout: default
title: Home
id: "index"
masthead_bg: "/img/hero_home.jpg"
---

<div class="section_title">Learn</div>
<div class="frow wrapper">
	{% include home_navigation.html %}
</div>
{% include newsletter.html %}

<div class="pop-up-wrapper">
	<div class="mask active" role="dialog"></div>
	<div class="modal" role="alert">
		  <button class="popup-close" role="button">X</button>
		  <div class="popup-bg" style="background-image:url('/img/hero_getinvolved002.jpg');"></div>
		  <div class="popup-msg">Have you considered donating to <a href="/who-we-are">IFF's mission</a>.  We're working to make communities more sustainable.</div>
		  <a class="popup-cta" href="https://donate.justgiving.com/donation-amount?uri=aHR0cHM6Ly9kb25hdGUtYXBpLmp1c3RnaXZpbmcuY29tL2FwaS9kb25hdGlvbnMvOTkzZDNiOTk1ODlkNDE4ZGEyOTIzY2EzNDkxZDI3NTA=" target="_blank"><div>contribute</div></a>
	</div>
</div>